DATABASE_HOST=your-database-host.com
DATABASE_PORT=your-database-port
DATABASE_USER=your-database-username
DATABASE_PASSWORD=your-database-password
DATABASE_NAME=your-database-name

JWT_SECRET=your-jwt-secret
HOST_URL=your_host_url
STAGE=dev

# Application Configuration (STAGE: prod | dev)
PORT=3000

# Email Configuration
MAIL_HOST=mail.qinspecting.com
MAIL_PORT=465
MAIL_SECURE=false
MAIL_USER=soporte@qinspecting.com
MAIL_PASSWORD=your-email-password
MAIL_FROM="Sistema de Capacitaciones <noreply@capacitaciones.com>"

# Password Reset Configuration
PASSWORD_RESET_TOKEN_EXPIRY=3600
FRONTEND_URL="http://localhost:8080#"

